.icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    min-width: 25px;
    min-height: 25px;
    background-size: contain !important;
    background-position: center !important;

    
}