<div id="requisites-modal" class="modal requisites-modal">
    <div class="modal__content">
        <h3 class="h-3">
            Beneficiary
        </h3>
        <ul class="requisites-modal__info">
            <li class="requisites-modal__info--item copy" data-clipboard-text="UA213220010000026208326583785">
                IBAN: UA213220010000026208326583785             
            </li>
            <li class="requisites-modal__info--item copy" data-clipboard-text="26208326583785">
                Account No: 26208326583785
            </li>
            <li class="requisites-modal__info--item copy" data-clipboard-text="UVAROV ROMAN, 49069, Ukraine, reg. Dnipropetrovska, c. Dnipro, ave. Pylypa Orlyka, build. 21, fl. 7">
                Receiver: UVAROV ROMAN, 49069, Ukraine, reg. Dnipropetrovska, c. Dnipro, ave. Pylypa Orlyka, build. 21, fl. 7
            </li>
        </ul>
        <h3 class="h-3">
            Account with Institution
        </h3>
        <ul class="requisites-modal__info">
            <li class="requisites-modal__info--item copy" data-clipboard-text="JSC UNIVERSAL BANK">
                Bank: JSC UNIVERSAL BANK
            </li>
            <li class="requisites-modal__info--item copy" data-clipboard-text="KYIV, UKRAINE">
                City: KYIV, UKRAINE 
            </li>
            <li class="requisites-modal__info--item copy" data-clipboard-text="UNJSUAUKXXX">
                Swift code: UNJSUAUKXXX
            </li>
        </ul>
        <button class="modal__close" title="Close Modal">
            &times;
        </button>
    </div>
</div>